html,
body {
  border: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
main {
  padding: 24px 36px;
}

main {
  display: block;
}

header {
  background: #111;
  color: #eee;
  font-family: Consolas, monospace;
}

table {
  border-collapse: collapse;
}

/* zebra stripes */
tr:nth-child(even) {
  background: #eee;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

td:first-child {
  text-align: left;
}

/* github-corners */
.github-corner > svg {
  color: #151513 !important;
  fill: #fafafa !important;
  height: 64px;
  width: 64px;
}
