body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 50px;
}

main {
  display: block;
}

table {
  border-collapse: collapse;
}

/* zebra stripes */
tr:nth-child(even) {
  background: #eee;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

td:first-child {
  text-align: left;
}
